<div class="footer-container">
  <link rel="stylesheet" href="/css/footer_styles.css">
  <div class="footer-padding"></div>
  <div class="footer">
    <a href="https://github.com/liara-cloud" target="_blank" alt="GitHub"> <i class="fa fa-github"></i></a>
    <a href="https://twitter.com/your_twitter_handle" target="_blank" alt="Twitter"> <i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/your_instagram_handle/" target="_blank" alt="Instagram"> <i class="fa fa-instagram"></i></a>
  </div>
</div>
