<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/contact_us.css">
<div class="container">
  <h1>About</h1>
  <p> <%= aboutContent %> </p>
</div>
<%- include("partials/footer"); -%>
