<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>استقرار برنامه‌ی آپلود فایل در لیارا</title>
    <link href="img/icon.svg" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="css/upload.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <h3 class="text-center mb-5">File Upload in NodeJS</h3>

            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="chooseFile">
                <label class="custom-file-label" for="chooseFile">Select file</label>
            </div>

            <button type="submit" name="submit" class="btn btn-primary btn-block mt-4">
                Upload File
            </button>
        </form>
        <% for (const file of files) { %>
            <div class="container-fluid bg-light" style="margin: 15px 0 0 0">
                <p>
                    <%= file %>
                        <a href="/download/<%= file %>" target="_blank">Download</a>
                </p>
            </div>
            <% } %>
    </div>

    <script>
        const input = document.getElementById('chooseFile');
        input.addEventListener('change', changeFileName);

        function changeFileName(event) {
            const label = document.getElementsByClassName('custom-file-label');
            label[0].innerHTML = event.srcElement.files[0].name;
        }
    </script>
</body>

</html>