/* Font Styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7; /* Light background color */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Color Scheme */
:root {
    --primary-color: #364be5; /* Primary blue color */
    --secondary-color: #ff6f61; /* Secondary color */
    --accent-color: #ffc93c; /* Accent color */
}

/* Form Styles */
#usernameForm, #chatContainer, .msgForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input Fields and Buttons */
input, textarea, button {
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    background-color: #fff; /* White background for inputs */
    color: #333;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    background-color: #f0f0f0; /* Light gray on focus */
}

button {
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #040e7f; /* Darker shade on hover */
}

/* Message Containers */
.messages {
    overflow-y: auto;
    max-height: 60vh;
    width: 100%;
    padding: 1rem;
    background-color: #f0f0f0; /* Light gray background for messages */
    border-radius: 10px;
    margin-bottom: 1rem;
}

.msgCtn, .otherMsgCtn {
    margin-bottom: 10px;
    max-width: 90%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.6rem;
    word-wrap: break-word;
}

.msgCtn {
    background-color: var(--primary-color);
    color: #fff;
    margin-left: auto;
}

.otherMsgCtn {
    background-color: #ccc; /* Lighter gray for other messages */
    color: #333;
    margin-right: auto;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .msgCtn, .otherMsgCtn {
        max-width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .msgCtn, .otherMsgCtn {
        max-width: 100%;
    }

    input, textarea {
        font-size: 1.4rem;
    }

    button {
        font-size: 1.4rem;
    }
}
